.spinner {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border-width: .2rem;
  border-style: solid;
  border-color: transparent #666 #666 #666;
  animation: loading-spinner 1s linear infinite;
}

@keyframes loading-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}